.back_style {
    height: 100%;
    background: #1e2335;
}

.widget_parent {
    background: #1e2335;
}

.desktop_head {
    width: 100%;
    height: 48px;
    background: #151b2b;
    display: flex;
    padding-top: 10px;
}

.desktop_head > li {
    height: 28px;
    width: 33%;
    line-height: 28px;
    font-size: 16px;
    color: #fff;
}

.desktop_head > li:first-of-type {
    padding-left: 30px;
    display: flex;
}

.desktop_head > li:nth-of-type(2) {
    text-align: center;
    color: #A3A6AD;
}

.desktop_head > li:nth-of-type(3) {
    padding-right: 20px;
    color: #A3A6AD;
    overflow: hidden;
}

.desktop_head > li:nth-of-type(3) > div {
    float: right;
    display: flex;
}

.desktop_head > li:nth-of-type(3) img {
    margin-top: 6px;
    width: 16px;
    height: 16px;
}

.desktop_head > li img {
    width: 36px;
    height: 28px;
}

.desktop_head > li > div {
    height: 28px;
    line-height: 28px;
    margin-left: 16px;
}

.desktop_head .desktop_head_deal {
    margin-left: 8px;
    margin-right: 16px;

}

.dispatch_desktop {
    position: absolute;
}

.dispatch_desktop .park_left, .dispatch_desktop .park_right {
    /*visibility: hidden;*/

    cursor: pointer;
}

.dispatch_desktop .content {
    width: 1276px;
    height: 190px;
    border-radius: 8px;
    background: #2E3551;
}

.back_style canvas::selection {
    background: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
}

.dispatch_desktop .line_info {
    height: 30px;
    position: relative;
    background: #262c43;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.dispatch_desktop .line_info > div > ul {
    overflow: hidden;
    padding: 0;
}

.dispatch_desktop .line_way li:first-of-type {
    background: #4ED0C8;
    overflow: hidden;
    height: 30px;
}

.dispatch_desktop .line_way li {
    width: 70px;
    margin-right: 2px;
    float: left;
    text-align: center;
    line-height: 30px;
    background: #373D53;
    color: white;
}

.dispatch_desktop .bus_info li {
    margin-right: 25px;
    float: left;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    display: none;
}

.dispatch_desktop .bus_info li:nth-of-type(8) {
    margin-left: 20px;
}

.dispatch_desktop .bus_info li:first-of-type {
    margin-left: 16px;
}

.dispatch_desktop .line_way li:first-of-type {
    border-top-left-radius: 8px;
}

.dispatch_desktop .line_way li:last-of-type {
    border-top-right-radius: 8px;
}

.dispatch_desktop .line_btn {
    position: absolute;
    top: 5px;
    right: 20px;
}

.dispatch_desktop .line_btn {
    position: absolute;
    top: 5px;
    right: 10px;
}

.dispatch_desktop a.min, .dispatch_desktop a.line_edit, .dispatch_desktop a.show_right {
    font-weight: bold;
    width: 16px;
    height: 16px;
    line-height: 12px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #4ED0C8;
    border-radius: 50%;
    color: #4ED0C8;
    display: inline-block;
    margin-right: 2px;
}

.dispatch_desktop .edit_content {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    background: -webkit-linear-gradient(top, #32817E, #356691);
    background: -moz-linear-gradient(top, #32817E, #356691);
    border-radius: 5px;
    z-index: 20;
    display: none;
    cursor: pointer;
    color: #fff;
    padding-bottom: 20px;
}

.dispatch_desktop .show_tip_top_p, .dispatch_desktop .show_tip_down_p {
    position: relative;
}

.dispatch_desktop .show_tip_top, .dispatch_desktop .show_tip_down {
    position: absolute;
    display: none;
    border-style: solid;
    white-space: nowrap;
    z-index: 9999999;
    transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1), top 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    background-color: rgba(50, 50, 50, 0.7);
    border-width: 0px;
    border-color: rgb(51, 51, 51);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    line-height: 21px;
    padding: 5px;
}

.dispatch_desktop .edit_content > ul li {
    line-height: 20px;
    height: 20px;
    width: 100px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.dispatch_desktop .edit_content .chs {
    overflow: scroll;
    height: 100px;
}

/*控制台车辆线路css*/

.dispatch_desktop .content .traffic .road_distribute {
    width: 1276px;
    height: 160px;
}

.dispatch_desktop .road_distribute .line_status {
    width: 1276px;
    padding: 6px 12px 0;
}

.dispatch_desktop .line_status li {
    width: 18px;
    line-height: 18px;
    height: 18px;
    text-align: center;
    float: left;
    color: #fff;
    font-size: 12px;
    margin-right: 4px;
}

.dispatch_desktop .park_left li:nth-of-type(1), .dispatch_desktop .park_right li:nth-of-type(4) {
    background: #4ecfc7;
}

.dispatch_desktop .park_left li:nth-of-type(2), .dispatch_desktop .park_right li:nth-of-type(3) {
    background: #ffd276;
}

.dispatch_desktop .park_left li:nth-of-type(3), .dispatch_desktop .park_right li:nth-of-type(2) {
    background: #f89e93;
}

.dispatch_desktop .park_left li:nth-of-type(4), .dispatch_desktop .park_right li:nth-of-type(1) {
    background: #ff4535;
}

.dispatch_desktop .road_distribute .actual_traffic {
    display: flex;
    height: 116px;
    width: 1276px;
    position: relative;
    padding: 0 17px;
    font-size: 0;
    background: url("/lty_dispatch_desktop/static/src/img/carlinebg.png?v=20170918") no-repeat 20px top;
}

.dispatch_desktop .traffic_car {
    width: 1190px;
    height: 54px;
    padding: 3px 0;
}

.dispatch_desktop .traffic .traffic_car {
    position: relative;
    height: 50px;
    padding: 1px 0;
}

.dispatch_desktop .content_car_road_top, .dispatch_desktop .content_car_road_down {
    height: 20px;
    position: relative;
    margin-bottom: 8px;
    margin-top: 2px;
}

/*左至右车辆*/
.dispatch_desktop .content_car_road_top .line_car {
    position: absolute;
    width: 31px;
    height: 16px;
    background: url("/lty_dispatch_desktop/static/src/img/little_car.png?v=20170918") no-repeat left top;
    top: 0px;
    cursor: pointer;
}

.to_gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.dispatch_desktop .line_car .type_car span {
    font-size: 12px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    color: #fff;
    margin-left: -3px;
    display: inline-block;
    line-height: 12px;
}

/*右至左车辆*/
.dispatch_desktop .content_car_road_down .line_car {
    position: absolute;
    width: 31px;
    height: 16px;
    background: url("/lty_dispatch_desktop/static/src/img/little_car_r.png?v=20170918") no-repeat left top;
    top: 0px;
    cursor: pointer;
}

.dispatch_desktop .line_car .type_car {
    width: 30px;
    height: 8px;
    text-align: center;
}

.absnormal_chart, .lagstation_chart {
    width: 350px;
    height: 160px;
}

.updown_line_table h4 {
    font-size: 16px;
    margin-bottom: 3px;
}

.updown_line_table .absnormal_type h4 {
    color: #cb413d;
}

.updown_line_table .absnormal_sug {
    margin-bottom: 12px;
}

.updown_line_table .absnormal_sug h4 {
    color: #4ecfc7;
    margin-bottom: 5px;
}

.absnormal_diaodu {
    display: none;
}

.absnormal_operate .abs_info {
    height: 110px;
    overflow: hidden;
}

.absnormal_operate .absnormal_height p {
    height: 20px;
    line-height: 20px;
}

.updown_line_table .absnormal_operate {
    width: 210px;
}

.updown_line_table .absnormal_operate p {
    line-height: 18px;
    font-size: 14px;
    color: #fff;
    word-wrap: break-word;
}

.no_absnormal .finishBtn .is_check {
    width: 204px !important;
}

.no_absnormal .finishBtn {
    display: none;
}

.updown_line_table .no_absnormal {
    display: none;
}

.updown_line_table .normal h4 {
    color: #4ecfc7;
}

.updown_line_table .handleBtn a, .updown_line_table .finishBtn a {
    display: block;
    float: left;
    color: #cb413c;
    width: 64px;
    height: 24px;
    border: 1px solid #cb413c;
    border-radius: 4px;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
    margin-right: 6px;
    cursor: pointer;
}

.updown_line_table .real_time_process {
    display: none;
    margin-left: 20px;
}

.updown_line_table .absnormal_type {
    margin-bottom: 20px;
}

.updown_line_table .carousel {
    width: 600px;
    height: 160px;
}

.updown_line_table .carousel_content {
    height: 160px;
    position: absolute;
}

.updown_line_table .carousel_content.abnormal_active {
    left: 0 !important;
}

.updown_line_table .carousel_content > li {
    width: 600px;
    float: left;
    height: 160px;
}

/*上下行路线图表和是否异常*/

.updown_line_table {
    left: 1300px;
    top: 50px;
    width: 600px;
    height: 190px;
    background: #343B58;
    border-radius: 8px;

}

.updown_line_table.warn {
    box-shadow: 0px 0px 10px #9d3d42;
}

.updown_line_table .updown_title {
    height: 30px;
}

.updown_line_table .line_btn {
    position: absolute;
    top: 5px;
    right: 20px;
}

.updown_line_table .line_btn, .bus_src_config .min, .main_controll_interface .min {
    position: absolute;
    top: 5px;
    right: 10px;
}

.updown_line_table a.min, .bus_src_config .min, .main_controll_interface .min {
    width: 16px;
    height: 16px;
    line-height: 12px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    display: inline-block;
    margin-right: 2px;
    cursor: pointer;
}

dispatch_desktop .del, .edit_content .del, .bus_site_info .del {
    font-weight: bold;
    width: 16px;
    height: 16px;
    line-height: 12px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #4ED0C8;
    border-radius: 50%;
    color: #4ED0C8;
    display: block;
    margin: 4px 4px 4px 0;
    float: right;
    z-index: 100;
}

/*底部控制台*/
.my_console {
    width: 100%;
    height: 48px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10000;
    background: url("/lty_dispatch_desktop/static/src/img/dispatch_console.png?v=20170918") no-repeat left top;
}

.my_console ul {
    display: flex;
    width: 550px;
    margin: 6px auto;
    height: 20px;
    margin-top: 14px;
}

.my_console ul li {
    color: white;
    flex: 1;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 14px;
}

.my_console ul li > div {
    float: left;
}

.my_console .div-icon {
    width: 60px;
}

.my_console .div-a {
    width: 120px;
}

.my_console .s-icon {
    display: inline-block;
    float: right;
    width: 20px;
    height: 20px;
    background-image: url("/lty_dispatch_desktop/static/src/img/icon_console.png?v=20170918");
}

.my_console ul .new_console {
    line-height: 14px;
}

.my_console li a {
    margin-left: 14px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-align: left;
}

.my_console .new_console .s-icon {
    background-position: 0 0;
}

.my_console .save_console .s-icon {
    background-position: -29px 0;
}

.my_console .read_console .s-icon {
    background-position: -54px 0;
}

.my_console ul .save_console {
    line-height: 14px;
    margin-left: 2px;
    margin-right: 2px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;

}

.modal.config modal-body {
    height: 540px;
}

.modal.config .modal-dialog {
    width: 520px;
}

@media (min-width: 768px) {
    .modal.config .conf_bg {
        background: #252c44;
        color: #fff;
        border-radius: 8px;
    }
}

.modal.config .src_font_color {
    margin-left: 180px;
}

.modal.config .close {
    opacity: 1;
    color: #fff;
}

.modal.config .modal-header {
    border: none;
}

.modal.config .modal-footer .btn-primary {
    background: none;
    border: 1px solid #4ecfc7;
    color: #4ecfc7;
}

.modal.config .modal-footer .btn-default {
    background: none;
    border: 1px solid #909aa4;
    color: #909aa4;
}

.modal.config .modal-footer {
    border: none;
}

.modal.config modal-body {
    padding: 16px 16px 4px 16px;
}

.modal.config modal-body dt {
    font-size: 15px;
    margin-bottom: 20px;
}

.modal.config modal-body dl:first-of-type {
    margin-bottom: 20px;
}

.modal.config dd {
    overflow: hidden;
    margin-bottom: 5px;
}

.modal.config dd div {
    float: left;
}

.modal.config dd div:first-of-type {
    line-height: 22px;
    font-size: 14px;
    text-align: left;
    width: 280px;

}

.modal.config dd div:last-of-type {
    font-size: 0;
}

/*turn_button样式*/
.config input[type="checkbox"] {
    display: none;
}

.config input[type="checkbox"] + label {
    display: inline-block;
    width: 40px;
    height: 20px;
    position: relative;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    margin: 0px 20px;
    box-sizing: border-box;
}

.config input[type="checkbox"] + label:after,
.config input[type="checkbox"] + label:before {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

.src_config:checked + label.green {
    background: #9fFFFC;
}

.src_config:checked + label.green:after {
    background: #18FFFC;
    left: calc(100% - 20px);
}

.src_config + label {
    background: #ddd;
    border-radius: 20px;
    box-shadow: 1px 1px 3px #aaa;
}

.src_config + label:after {
    background: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 3px #aaa;
}

/*车辆人力资源*/
.bus_src_config {
    width: 1398px;
    height: 566px;
    border-radius: 8px;
    background: #37405F;
}

.bus_src_config .add_operate {
    height: 30px;
    line-height: 26px;
    background: none;
    border: 1px solid #53CAC8;
    border-radius: 4px;
    color: #53CAC8;
}

.bus_src_config .add_success {
    border-color: #6D7487;
    color: #838697;
    cursor: not-allowed;
}

.bus_src_config .src_title {
    height: 80px;
}

.bus_src_config .closeBox, .main_controll_interface .closeBox {
    height: 30px;
    position: relative;
}

.bus_src_config .dis_close_bt, .main_controll_interface .dis_close_bt, .digital_map .dis_close_bt {
    position: absolute;
    right: 5px;
    top: 13px;
    width: 12px;
    background: #C9CBCA;
    height: 3px;
    vertical-align: middle;
}

.bus_src_config .line_list {
    height: 50px;
    padding-top: 8px;
    color: #fff;
    display: flex;
}

.bus_src_config .line_list > div {
    width: 33%;
}

.main_controll_interface {
    width: 924px;
    position: absolute;
    border-radius: 8px;
    background: #37405F;
    color: #fff;
}

.main_controll_interface a {
    color: #fff;
}

.main_controll_interface .src_title {
    height: 46px;
    /*overflow: hidden;*/
}

.bus_src_config .line_list .line_company {
    overflow: hidden;
    padding-left: 31px;
}

.bus_src_config .line_list > div > div {
    height: 26px;
    font-size: 16px;
    line-height: 26px;
    float: left;
}

.bus_src_config .line_src > ul {
    width: 162px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #53CAC8;
    margin: 0 auto;
}

.bus_src_config .line_src li {
    float: left;
    font-size: 14px;
    width: 80px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    color: #53CAC8;
    cursor: pointer;
}

.bus_src_config .line_src li.active {
    height: 34px;
    line-height: 34px;
    background: #53CAC8;
    color: #fff;
}

.bus_src_config .src_content {
    height: 470px;
}

.bus_src_config .src_content table {
    width: 1344px;
    margin: 0 auto;
    color: #838697;
    border: 1px solid #6D7487;
}

.bus_src_config .table_source th:first-of-type, .bus_src_config .table_source td:first-of-type, .bus_src_config .table_bus_num th:first-of-type, .bus_src_config .table_bus_num td:first-of-type {
    padding-left: 12px;
}

.bus_src_config th, .bus_src_config td {
    max-height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #6D7487;
    width: 110px;
}

.bus_src_config .td_small {
    width: 80px;
}

.bus_src_config th {
    color: #53CAC8;
}

.bus_src_config td {
    font-size: 13px;
}

.bus_src_config .control_btn {
    padding-right: 10px;
    position: relative;
}

.bus_src_config .control_btn p {
    float: left;
    height: 18px;
    line-height: 18px;
}

.bus_src_config .control_btn .add_btn {
    float: right;
    border-radius: 50%;
    width: 18px;
    border: 1px solid #53CAC8;
    line-height: 15px;
    cursor: pointer;
    text-align: center;
}

.bus_src_config .config_bus_source a {
    cursor: pointer;
}

.bus_src_config .config_bus_source {
    position: absolute;
    top: 40px;
    right: 0;
    width: 88px;
    padding-left: 4px;
    padding-top: 4px;
    background: -webkit-linear-gradient(top, #32817E, #356691);
    background: -moz-linear-gradient(top, #32817E, #356691);
    display: none;
    z-index: 10000;
}

.bus_src_config .config_bus_source ul {
    border-bottom: 1px solid #6D91A9;
    width: 80px;
}

.bus_src_config .position_site {
    color: #7c7bad;
}

.bus_src_config .config_bus_source a {
    color: #fff;
}

.bus_src_config .config_bus_source li {
    height: 34px;
    line-height: 34px;
    text-align: center;

}

.dispatch_desktop .run_car_hide {
    display: none;
}

.bus_src_config .config_bus_source div {
    text-align: center;
}

.bus_src_config .table_source {
    display: none;
}

.map_info {
    width: 510px;
    height: 380px;
    border: 2px solid #ccc;
}

/*站点弹框*/
.bus_site_info {
    position: absolute;
    background: -webkit-linear-gradient(top, #32817E, #356691);
    background: -moz-linear-gradient(top, #32817E, #356691);
    border-radius: 4px;
}

.bus_site_info .bus_site_content {
    color: #000;
    padding: 5px 10px;
}

.bus_site_info .bus_site_content > li {
    line-height: 20px;
    height: 20px;
    width: 80px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    color: #fff;
}

/*电子地图*/
.digital_map {
    position: absolute;
    width: 1000px;
}

#digital_map {
    height: 520px;
    width: 660px;
}

.main_controll_interface .line_list {
    height: 34px;
    padding-left: 30px;
    padding-top: 5px;
}

.main_controll_interface .line_list ul {
    overflow: hidden;
}

.main_controll_interface .line_list li {
    float: left;
    border-right: 1px solid #ccc;
    width: 76px;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    height: 24px;
    color: #000;
    background: white;
}

.main_controll_interface .line_list li:last-of-type {
    border-right: none;
}

.main_controll_interface .src_content {
    padding-left: 30px;
    padding-right: 30px;

}

.main_controll_interface .src_content .bus_li {
    position: relative;
    height: 30px;
    width: 100%;
    margin-top: 20px;

}

.main_controll_interface .bus_list {
    position: absolute;
    left: 0;
    top: 1px;
    overflow: hidden;
    padding-left: 20px;
}

.main_controll_interface .bus_list li {
    float: left;
}

.main_controll_interface .bus_list li > a {
    display: block;
    width: 94px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.main_controll_interface .table_bus_num {
    height: 360px;
    width: 842px;
    margin-left: 10px;
    margin-top: 10px;
}

.table_bus_num tbody.table_bus_num_tbody {
    height: 408px;
    overflow: scroll;
    display: block;
}

.table_bus_num .th_end {
    padding-right: 0;
}

.table_bus_num thead {
    display: block;
}

.table_bus_num.towarn {
    color: #be4151;
}

.main_controll_interface .table_bus_num table {
    width: 100%;
}

.main_controll_interface .table_bus_num th {
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #ccc;
    border-right: none;
}

.main_controll_interface .th_last {
    border-right: 1px solid #ccc !important;
}

.main_controll_interface .table_bus_num td {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    text-align: center;
}

.one_width {
    width: 100%;
    height: 1px;
    background: #ccc;
}

.active_a {
    border: 1px solid #ccc;
    border-bottom: 1px solid #37405F;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

/*运营管理*/
.scheme_parameter {
    color: #A37BC2;
}

.run_bus_times {
    overflow: hidden;
}

.run_bus_times li {
    float: left;
    width: 186px;
}

.run_bus_times .li_list1 {
    border-right: 1px solid #ccc;
}

.btn.map_destory {
    position: absolute;
    left: 10px;
    top: 10px;
}

.driver_site_map #driver_site {
    width: 300px;
    height: 300px;
}

