/*layui 重新定义*/

.layui-layer-page {
    border-radius: 8px;
}

.layui-layer-page .layui-layer-title {
    background: #454f76 !important;
    color: #fff !important;
    border-bottom: 1px solid #6D7487 !important;
    padding: 0 30px !important;
}

/*---------站点客流---------*/
.passenger_flow_trend_chart {
    width: 932px;
    background: #3a4263;
    box-shadow: 0 0 50px #1e2335;
    color: #fff;
    border-radius: 8px;
}

.passenger_flow_trend_chart .trend_chart {
    float: left;
    width: 466px;
    padding: 20px 0;
}

.passenger_flow_trend_chart .trend_chart .top_title {
    padding: 0 30px;
    font-size: 13px;
    height: 50px;
    line-height: 50px;
}

.passenger_flow_trend_chart .trend_chart_single .passenger_flow_cont {
    border-right: 1px solid #ccc;
}

.passenger_flow_trend_chart .trend_chart_single .top_title {
    border-right: 1px solid #ccc;
}

.passenger_flow_trend_chart .trend_chart .top_title a.express_bt {
    float: right;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    color: #8b8e9e;
}

.passenger_flow_trend_chart .trend_chart .top_title .name {
    font-size: 18px;
    font-weight: bold;
}

.trend_chart_info .map_botton_info {
    height: 70px;
}

.trend_chart_info .map_botton_info .num {
    font-size: 26px;
    font-weight: bold;
    margin: 0 5px;
    border-bottom: 1px solid #aaa;
}

.trend_chart_info .map_botton_info .red {
    color: #f89e93;
}

.trend_chart_info .map_botton_info .blue {
    color: #5093e1;
}

.trend_chart_info .map_botton_info .gray {
    color: #ffd276;
}

.trend_chart_info .map_botton_info li {
    width: 33.33%;
    text-align: center;
    float: left;
    line-height: 70px;
    height: 70px;
}

.express_train_box {
    width: 466px;
    height: 320px;
    padding: 0 30px;
    overflow: auto;
    position: relative;
    color: #fff;
}

.express_train_box header.title {
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.express_train_box .express_train_part .express_train_info td {
    white-space: nowrap;
}

.express_train_box .express_train_part .express_train_info td:first-child {
    width: 180px;
}

.express_train_box .express_train_part .express_train_info .express_time {
    margin-right: 12px;
    background: #3a4263;
    color: #fff;
    font-size: 16px;
    width: 52px;
    display: inline-block;
    text-align: center;
    border: 0;
    border-bottom: 1px solid #fff;
}

.express_train_box .express_train_part .express_train_info .name {
    font-weight: bold;
    font-size: 24px;
    margin-left: 2px;
}

.express_train_box .express_train_part select {
    margin: 10px 0;
    background: #3a4263;
    color: #fff;
    border: 1px solid #ccc;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    padding: 0 12px;
}

.express_train_box .express_train_part .vehicle_op,
.express_train_box .express_train_part .waiting_bus_op {
    display: none;
}

.express_train_box .select_part {
    margin-top: 10px;
}

.express_train_box .select_part title {
    display: block;
}

.express_train_box label.labw {
    display: block;
    padding: 2px;
    width: 120px;
    color: #fff;
}

.express_train_box input[type="radio"] {
    margin: 3px 2px;
}

.express_train_box .skip_info input[type="text"] {
    margin: 0 6px;
    background: #3a4263;
    color: #fff;
    font-size: 16px;
    width: 30px;
    display: inline-block;
    text-align: center;
    border: 0;
    border-bottom: 1px solid #fff;
}

.express_train_box .select_part_info .showInfo {
    border-left: 1px solid #ccc;
    padding-left: 10px;
    display: none;
}

.express_train_box .select_part_info .station_info td {
    padding-right: 10px;
    white-space: nowrap;
}

.express_train_box .select_part_info .station_info input[type="checkbox"] {
    vertical-align: middle;
    margin: 0 0;
}

.express_train_box .sendbt {
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 280px;
    z-index: 2;
    color: #4ecfc7;
    padding: 1px 14px;
    border: 1px solid #4ecfc7;
    font-size: 14px;
    border-radius: 4px;
}


/*---------车辆实时状态---------*/

.back_style .hide_model {
    display: none;
}

.bus_real_info {
    width: 864px;
    letter-spacing: 1px;
    background: #3a4263;
    border-radius: 8px;
    box-shadow: 0 0 50px #1e2335;
}

.bus_real_info .carReport .socket_load {
    width: 344px;
    height: 330px;
    line-height: 330px;
    text-align: center;
}

.bus_real_info .closeBox,
.passenger_flow_trend_chart .closeBox,
.plan_display .closeBox {
    height: 20px;
    background: #3a4263;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.plan_display .closeBox {
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #272d46;
}

.plan_display .closeBox .num {
    font-weight: normal;
    margin-left: 20px;
}

.bus_real_info .closeBox .close_bt,
.passenger_flow_trend_chart .closeBox .close_bt,
.plan_display .closeBox .close_bt {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 15px;
    background: #fff;
    height: 3px;
    vertical-align: middle;
}

.plan_display .closeBox .close_bt {
    top: 18px;
}

.bus_real_info .titleInfo dl dt {
    height: 38px;
    line-height: 38px;
    float: left;
}

.bus_real_info .titleInfo dl dd {
    height: 19px;
    line-height: 19px;
}

.bus_real_info .titleInfo .mR5 {
    margin-right: 5px;
}

.bus_real_info .titleInfo .mR10 {
    margin-right: 10px;
}

.bus_real_info .info {
    height: 38px;
    line-height: 38px;
    margin-bottom: 20px;
}

.bus_real_info .infoR {
    width: 100%;
    z-index: 2;
    position: relative;
}

.bus_real_info .titleInfo .fmax {
    font-weight: bold;
    font-size: 16px;
}

.bus_real_info .infoR .scene {
    display: block;
    float: left;
    width: 50px;
    height: 22px;
    line-height: 22px;
    color: #4ecfc7;
    text-align: center;
    margin-top: 8px;
}

.bus_real_info .infoR .scene .sceneTitle {
    background: #3a4263;
    border: 1px solid #4ecfc7;
    color: #4ecfc7;
    padding: 3px 6px;
}

.bus_real_info .infoR .scene .operationNav {
    background: #464f76;
    z-index: 1;
    position: relative;
    padding: 0 8px;
    min-width: 100px;
    margin: -16px 0;
}

.bus_real_info .infoR .scene .operationNav li a:hover {
    background: #3a4263;
    color: #4ecfc7;
}

.bus_real_info .infoR .scene .operationNav li a {
    text-align: center;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #ccc;
    color: #fff;
    width: 100%;
    padding: 0;
}

.bus_real_info .infoR .scene .operationNav li:last-child a {
    border: 0;
}

.bus_real_info .infoR .scene2 {
    border: 1px solid #4ecfc7;
    border-radius: 4px;
    text-align: center;
    width: 50px;
    height: 26px;
    line-height: 26px;
    border-left: 0;
}

.bus_real_info .infoR .more {
    width: 76px;
    height: 28px;
    line-height: 28px;
    position: absolute;
    top: -4px;
    right: 0;
    text-align: center;
}

.bus_real_info .infoR .more .morebox {
    display: none;
    background: #fff;
    position: relative;
    z-index: 1;
}

.bus_real_info .infoR .more .sceneMore {
    display: block;
    width: 100%;
    height: 100%;
}

.bus_real_info .infoR .more:hover .morebox {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.bus_real_info .infoR .more:hover .sceneMore {
    color: #918fba;
    background: #fff;
    border-bottom: 1px solid #ccc;
}

.bus_real_info .popupContent {
    font-size: 13px;
}

.bus_real_info .popupContent .popupC {
    width: 432px;
    float: left;
    color: #fff;
    padding: 0 30px 20px 30px;
    border-right: 1px solid #fff;
}

.bus_real_info .popupContent .carReport_info {
    border: none;
}

.bus_real_info .popupContent .vehicleInformation .num {
    padding: 0 7px;
}


.bus_real_info .popupContent .vehicleInformation .fmax {
    font-size: 20px;
}

.bus_real_info .popupContent .vehicleInformation .danger {
    /*color: red;*/
}

.bus_real_info .popupContent .vehicleInformation .dangerTime {
    /*color: #990000;*/
    /*font-weight: bold;*/
}

.bus_real_info .popupContent .vehicleInformation table {
    width: 100%;
}

.bus_real_info .popupContent .vehicleInformation table td {
    border-bottom: 1px solid #ccc;
    text-align: left;
    padding-right: 5px;
    height: 62px;
}

.bus_real_info .lineInfo {
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    text-align: right;
    clear: both;
    color: #fff;
}

.bus_real_info .lineInfo .lineRoad {
    font-weight: bold;
    font-size: 18px;
}

.bus_real_info .carInfoScene {
    width: 372px;
    height: 330px;
}

.bus_real_info .more_info_box {
    overflow: auto;
}

.bus_real_info .arrival_time_more_info {
    overflow: auto;
}

.bus_real_info .arrival_time_police {
    padding: 10px;
}

.bus_real_info .arrival_time_police .title {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin-top: 100px;
}

.bus_real_info .arrival_time_police .cont {
    text-indent: 29px;
}

.bus_real_info .arrival_time_police .onBt {
    display: block;
    width: 130px;
    margin: 20px auto;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ccc;
    text-align: center;
    color: #ccc;
}

.bus_real_info .arrival_time_police .tel li {
    width: 33.33%;
    text-align: center;
    float: left;
}

.bus_real_info .carPassenge .carPassenger {
    float: left;
    border: 1px solid #aaa;
    width: 334px;
}

.bus_real_info .carPassenge .carPassenger .top {
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
    font-size: 13px;
}

.bus_real_info .carPassenge .carPassenger .topt {
    display: inline-block;
    height: 50px;
    line-height: 50px;
}

.bus_real_info .carPassenge .carPassenger .topt .zm {
    font-size: 18px;
    font-weight: bold;
}

.bus_real_info .carPassenge .carPassenger .top a.bt {
    float: right;
    display: inline-block;
    height: 50px;
    line-height: 50px;
}

.bus_real_info .mapB .mapInfoTxt {
    /*height: 70px;*/
    width: 332px;
}

.bus_real_info .mapB .mapInfoTxt .num {
    font-size: 26px;
    font-weight: bold;
    margin: 0 5px;
    border-bottom: 1px solid #aaa;
}

.bus_real_info .mapB .mapInfoTxt .red {
    color: red;
}

.bus_real_info .mapB .mapInfoTxt .blue {
    color: blue
}

.bus_real_info .mapB .mapInfoTxt .gray {
    color: gray;
}

.bus_real_info .mapB .mapInfoTxt li {
    width: 33.33%;
    text-align: center;
    float: left;
    line-height: 70px;
}


.bus_real_info .more_info_box .info_title {
    height: 30px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.bus_real_info .more_info_box .info_title .title {
    display: inline-block;
    position: absolute;
    left: 22px;
    bottom: -1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 2px 5px;
    z-index: 1;
    background: #464f76;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 12px;
}

.bus_real_info .maintenance_status {
    height: 24px;
    background: #464f76;
}

.bus_real_info .info_status_nav {
    display: inline-block;
    padding: 0 18px 0 0;
    float: right;
    margin-right: 4px;
}

.bus_real_info .info_status_nav li {
    display: inline-block;
    list-style-type: none;
    margin: 0 -22px 0 0;
    padding: 0;
    height: 24px;
    background-color: #464f76;
}

.bus_real_info .info_status_nav li .label {
    color: #fff;
    padding: 0;
    display: inline-block;
    padding-left: 18px;
    margin: 0;
    position: relative;
    line-height: 24px;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0;
}

.bus_real_info .info_status_nav .arrow,
.bus_real_info .info_status_nav .arrow_first {
    width: 17px;
    height: 24px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    margin-left: -5px;
}

.bus_real_info .info_status_nav .arrow_first {
    margin-left: -1px;
}

.bus_real_info .info_status_nav li:first-child .label {
    padding-left: 1px;
}

.bus_real_info .info_status_nav .arrow span,
.bus_real_info .info_status_nav .arrow_first span {
    position: relative;
    width: 19px;
    height: 19px;
    display: inline-block;
    margin-left: -9px;
    margin-top: 3px;
    border-radius: 3px;
    box-shadow: -1px 1px 2px rgba(255, 255, 255, 0.2), inset -1px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #464f76;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.bus_real_info .info_status_nav li.oe_active {
    background-color: #807fa9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#abaaca), to(#555487));
    /* background-image: -webkit-linear-gradient(top, #abaaca, #555487); */
    background-image: -moz-linear-gradient(top, #abaaca, #555487);
    background-image: -ms-linear-gradient(top, #abaaca, #555487);
    background-image: -o-linear-gradient(top, #abaaca, #555487);
    /* background-image: linear-gradient(to bottom, #abaaca, #555487); */
}

.bus_real_info .info_status_nav li.oe_active .label {
    color: white;
    text-shadow: 0 1px 1px #729fcf, 0 -1px 1px #3465a4;
}

.bus_real_info .info_status_nav li.oe_active .arrow span {
    background-color: #555487;
    background: -moz-linear-gradient(135deg, #555487, #abaaca);
    background: -o-linear-gradient(135deg, #abaaca, #555487);
    background: -webkit-gradient(linear, left top, right bottom, from(#abaaca), to(#555487));
}

.bus_real_info .info_1 .info_cont {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.bus_real_info .more_info_part .info_cont table {
    width: 100%;
    font-size: 13px;
}

.bus_real_info .more_info_part .maintenance_cont td {
    line-height: 24px;
    padding: 0 5px;
}

.bus_real_info .more_info_part .maintenance_cont td:nth-child(odd) {
    border-right: 1px solid #ccc;
}

.bus_real_info .more_info_part .info_bt {
    text-align: center;
    padding: 10px;
}

.bus_real_info .more_info_part .info_bt a {
    display: inline-block;
    width: 126px;
    height: 20px;
    line-height: 20px;
    font-style: 13px;
    background: #7c7bad;
    color: #fff;
}

.bus_real_info .more_info_part .info_bt a:first-child {
    margin-right: 30px;
}

.bus_real_info .info_2 .info_cont {
    padding: 5px 5px 5px 15px;
}

.bus_real_info .more_info_part .record_cont th,
.bus_real_info .more_info_part .record_cont td {
    line-height: 24px;
    width: 25%;
    height: 24px;
}

.bus_real_info .more_info_part .record_cont tr {
    border: 1px solid #6D7487;
}


/*----------车辆计划展示------------*/
.plan_display {
    border-radius: 8px;
    box-shadow: 0 0 50px #1e2335;
    width: 1874px;

}

.plan_display .plan_group .vehicle_box {
    padding: 12px;
    float: left;
    background: #373d54;
}

.plan_display .plan_group .vehicle_box:first-child {
    border-bottom-left-radius: 8px;
}

.plan_display .plan_group .vehicle_box:last-child {
    border-bottom-right-radius: 8px;
}

.plan_display .plan_group .section_plan_cont .title {
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    font-size: 16px;
    border-bottom: 1px solid #6D7487;
    color: #fff;
    font-weight: bold;
    background: #464b60;
}

.plan_display .plan_group .section_plan_cont table {
    width: 100%;
}

.plan_display .plan_group .section_plan_cont table tr.point:hover {
    background: #272d46;
}

.plan_display .plan_group .section_plan_cont table tr.active_tr {
    background: #272d46;   
}

.plan_display .plan_group .bus_plan table tr.point {
    cursor: pointer;
}

.plan_display .plan_group .section_plan_cont table .pL {
    padding-left: 12px;
}

.plan_display .plan_group .section_plan_cont table td.pL {
    font-size: 0;
}

.plan_display .plan_group .section_plan_cont table .pR {
    padding-right: 12px;
}

.plan_display .plan_group .section_plan_cont tr {
    padding: 0 12px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
}

.plan_display .plan_group .section_plan_cont .th {
    color: #6D7487;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #6D7487;
}

.plan_display .plan_group .plan_box .th {
    color: #4ecfc7;
}

.plan_display .plan_group .section_plan_cont td {
    color: #fff;
    font-size: 12px;
    border-bottom: 1px solid #6D7487;
    white-space:nowrap;
}

.plan_display .plan_group .plan_box {
    background: #3a4263;
}

.plan_display .plan_group .plan_box .bottom_bt {
    margin-top: 11px;
    font-size: 0;
    width: 300px;
}

.plan_display .plan_group .plan_box .bottom_bt a {
    display: inline-block;
    border: 1px solid #6D7487;
    border-radius: 4px;
    color: #fff;
    padding: 0;
    width: 46px;
    height: 30px;\line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin-right: 4.8px;
}

.plan_display .plan_group .plan_box .bottom_bt a:last-child {
    margin-right: 0;   
}

.plan_display .plan_group .bus_plan {
    border: 1px solid #6D7487;
    width: 300px;
    height: 493px;
    overflow: auto;
}

.plan_display .plan_group .section_plan_cont {
    border: 1px solid #6D7487;
    overflow: auto;
}

.plan_display .plan_group .bus_yard {
    width: 300px;
    height: 493px;
}

.plan_display .plan_group .bus_yard {
    width: 272px;
    height: 534px;
}

.plan_display .plan_group .bus_transit {
    width: 293px;
    height: 534px;
}

.plan_display .plan_group .bus_plan .title {
    background: #3c4a70;
}

.plan_display .plan_group .section_plan_cont .icon {
    background: url('/lty_dispatch_desktop_widget/static/src/image/icon_combination.png') no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
}

.plan_display .plan_group .bus_plan .icon_0, .plan_display .plan_group .bus_plan .icon_1 {
    background-position: -77px 0;
}

.plan_display .plan_group .bus_plan .icon_2 {
    background-position: -97px 0;  
}

.plan_display .plan_group .section_plan_cont .icon1_0 {
    background-position: -39px 0;
}

.plan_display .plan_group .section_plan_cont .icon1_1 {
    background-position: -59px 0;
}

.plan_display .plan_group .section_plan_cont .icon2_0 {
    background-position: 0 0;
}

.plan_display .plan_group .section_plan_cont .icon2_1 {
    background-position: -19px 0;
}


/*------右键设置----------*/
.plan_display .plan_display_set .setBox {
    background: #464f76;
    color: #fff;
    padding: 0 8px;
    border-radius: 4px;
    box-shadow: 0 0 50px #1e2335;
    min-width: 100px;
    font-size: 12px;
}

.plan_display .plan_display_set .setBox .nav {
    list-style-type: none;
}

.plan_display .plan_display_set .setBox .nav li {
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
}

.plan_display .plan_display_set .setBox .nav li:last-child {
    border-bottom: none;
}

.plan_display .plan_display_set .setBox .nav li:hover {
    background: #3a4263;
    color: #4ecfc7;
}


/*customModal*/
.customModal .modal-dialog , .modal_lty .modal-dialog {
    height: auto !important;
    padding: 0 !important;
    color: #fff !important;
}

.customModal .modal-dialog .modal-content {
    border-radius: 8px;
    background: #384060;
}

.customModal .modal-dialog .modal-content .modal-header {
    border-bottom: none;
    padding: 28px 28px 18px;
}

.customModal .modal-dialog .modal-content .modal-body {
    padding: 10px 28px;
}

.customModal .modal-dialog .modal-content .modal-footer {
    border-top: none;
    padding: 28px;
}

.customModal .modal-dialog .modal-content .modal-header .close {
    color: #fff;
    font-weight: normal;
    font-size: 22px;
    opacity: 1;
}

.customModal .modal-dialog .modal-content .modal-header .modal-title {
    font-size: 16px;
    font-weight: bold;
}

.customModal .modal-dialog .modal-content table {
    width: 100%;
}

.customModal .modal-dialog .modal-content input {
    border: 1px solid #6d7487;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    display: inline-block;
    border-radius: 4px;
    background: #384060;
    color: #fff;
}

.customModal .modal-dialog .modal-content select, .modal_lty .modal-dialog .modal-content select {
    border: 1px solid #6d7487;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    display: inline-block;
    border-radius: 4px;
    background-color: #384060;
    background-position: right 10px center;
    color: #fff;
}

.customModal .modal-dialog .modal-content textarea {
    border-radius: 4px;
    background: #384060;
    border: 1px solid #6d7487;
    padding: 0 10px;
    resize: none;
}

.customModal .btn {
    background: none;
    padding: 2px 12px;
}

.customModal .btn-default {
    border: 1px solid #6d7487;
    color: #6d7487;
}

.customModal .btn-primary {
    border: 1px solid #21b799;
    color: #21b799;
}

.customModal .modal-dialog .modal-content a {
    display: inline-block;
    color: #fff;
    text-align: center;
}

.customModalAddPlan .modal-content span.ckIcon {
    cursor: pointer;
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 5px;
    background: url("/lty_dispatch_desktop_widget/static/src/image/checkIcon.png") no-repeat center center;
    background-position: 0 -14px;
}

.customModalAddPlan .modal-content span.active {
    background-position: 0 0;
}

.customModalAddPlan .modal-content {
    width: 668px;
}

.driverCheckIn .modal-content {
    width: 358px;
}
/* GY编辑车辆  */
.editTheVehicle .modal-content {
    width: 668px;
}
/* 异常状态 */
.errorState .modal-content {
    width: 214px;
    height: 427px;
    color: #fff !important;
    font-size: 14px;
    font-family: "microsoft yahei";
    margin: 0 auto;    
}
.errorState .modal-content .yczt-ul li {
    display: inline-block;
    line-height:32px;
    position: relative;    
}
.errorState .modal-content .yczt-ul li span {
    display: inline-block;
    padding-right: 25px;
}
.errorState .modal-content .yczt-ul li i{
    width: 26px;
    height: 26px;
    position: absolute;
    /* background-color: red; */
    top:7px;
    left:20px;
    /* background: url("../image/icon_tc.png") no-repeat -74px -26px; */
}
.errorState .modal-content .yczt-ul li:nth-child(1) i{
    background: url("../image/icon_tc.png") no-repeat -74px -26px;
}
.errorState .modal-content .yczt-ul li:nth-child(2) i{
    background: url("../image/icon_tc.png") no-repeat -98px -26px;
}
.errorState .modal-content .yczt-ul li:nth-child(3) i{
    background: url("../image/icon_tc.png") no-repeat -122px -26px;
}
.errorState .modal-content .yczt-ul li:nth-child(4) i{
    background: url("../image/icon_tc.png") no-repeat -146px -26px;
}
.errorState .modal-content .yczt-ul li:nth-child(5) i{
    background: url("../image/icon_tc.png") no-repeat -170px -26px;
}
.errorState .modal-content .yczt-ul li:nth-child(6) i{
    background: url("../image/icon_tc.png") no-repeat -194px -26px;
}
.errorState .modal-content .yczt-ul li:nth-child(7) i{
    background: url("../image/icon_tc.png") no-repeat -218px -26px;
}

/* 进场任务*/
.InTheTask .modal-dialog .modal-content .modal-header{
    padding-bottom: 0px;
}
.InTheTask .modal-content .selectType span.ckIcon {
    margin-left: 8px;
}
.InTheTask .modal-content {
    width: 264px;
    height: 370px;
    margin: 0 auto;    
    
}

/* end */
.customModalAddPlan table tr td {
    line-height: 28px;
    width: 50%;
    padding-top: 12px;
}

.customModalAddPlan .mode .mode_type {
    position: relative;
    border-bottom: 2px solid #6d7487;
    height: 30px;
    margin: 20px 0;
}

.customModalAddPlan .mode .mode_type a {    
    width: 68px;
    height: 30px;
    line-height: 30px;
    background: #384060;
}

.customModalAddPlan .mode .mode_type .replace_bt {
    position: absolute;
    left: 20px;
    bottom: 0;
    z-index: 1
}
.customModalAddPlan .mode .mode_type .switch_bt {
    position: absolute;
    left: 88px;
    bottom: 0;
    z-index: 1
}

.customModalAddPlan .mode .mode_type a.active {
    border-left: 2px solid #6d7487;
    border-top: 2px solid #6d7487;
    border-right: 2px solid #6d7487;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    bottom: -2px;
    height: 32px;
}

.customModalAddPlan .tmp .fgx {
    margin: 26px 0;
    height: 1px;
    border-bottom: 1px solid #6d7487;
}

.customModalAddPlan table tr td:last-child {
    text-align: right;
}

.customModalAddPlan table tr td:first-child {
    text-align: left;
    width: 54%;
}

.customModalAddPlan .w1 {
    width: 94px;
}

.customModalAddPlan .w2 {
    width: 200px;
}

.customModalAddPlan .w3 {
    width: 156px;
}

.customModalAddPlan .w4 {
    width: 168px;
}

.customModalAddPlan .w5 {
    width: 90px;
}

.customModalAddPlan .w6 {
    width: 185px;
}



.modal_lty {
    color: #fff;
}

.modal_lty .modal-title {
    font-weight: bold;
}

.modal_lty .model_change_content {
    border-radius: 6px;
    background: #384060;
}

.modal_lty .modal-header, .modal.modal_lty .modal-footer {
    border: none;
}

.modal_lty .btn_confirm_lty {
    color: #4ecfc7;
    border-color: #4ecfc7;
    background: none;
}

.modal_lty .short_msg_content {
    height: 100px;
    width: 100%;
    border: 1px solid #6d738a;
    border-radius: 4px;
    padding: 20px;
}
.modal_lty input.short_msg_text {
    background: none;
    width:100%;
    word-break: break-all;
    height: 100px;
    padding-left: 20px;
    border: 1px solid #6d7487;
    border-radius: 4px;
}
.modal_lty .checkbox label {
    padding-left: 0;
}

.modal_lty .msg_content_config {
    margin: 20px 0;
}

.modal_lty .fl {
    float: left;
}

.modal_lty .msg_send_info {
    color: white;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    margin-top: 3px;
    line-height: 1.42857143;
    border: 1px solid #6d738a;
    border-radius: 4px;
    margin-left: 10px;
}
.modal_lty .msg_send_info option{
    color: white;
    background: #384060;
}

.modal_lty .col-sm-9.pd0 {
    padding: 0;
}

.modal_lty .input-checkbox {
    display: none
}

.modal_lty .demo--checkbox {
    border: 1px solid #4ecfc7;
    border-radius: 4px;
    display: inline-block;
    height: 18px;
    margin-right: 8px;
    margin-top: -2px;
    vertical-align: middle;
    width: 18px;
    line-height: 1;
    margin-left: 2px;
}

.modal_lty .input-checkbox:checked + .demo--checkbox:after {
    background: url("/lty_dispatch_desktop_widget/static/src/image/check.png") no-repeat 1px 2px;
    border-radius: 4px;
    content: "";
    display: inline-block;
    height: 12px;
    margin: 2px;
    width: 12px
}


/*ui-autocomplete*/

.ui-autocomplete {
    background-color: #464f76;
}

.ui-autocomplete .ui-menu-item > a {
    color: #fff;
    padding: 3px 10px;
}