/*----------聊天浮窗-----------*/

.communication {
    width: 688px;
    height: 466px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -233px;
    margin-left: -344px;
    border: 1px solid #ccc;
}

.communication .directory {
    width: 200px;
    height: 466px;
    overflow: auto;
    background: #535252;
    color: #fff;
    padding: 10px 0;
    float: left;
}

.communication .directory .directory_part {
    margin: 8px 0;
    font-size: 14px;
}

.communication .directory .directory_part .directory_title {
    padding: 0 20px;
}

.communication .directory .direct_messages {
    margin: 15px 0 8px 0;
}

.communication .directory .children_directory .children_o {
    padding: 0 40px;
    line-height: 24px;
    font-size: 13px;
    cursor: pointer;
}

.communication .directory .op_active {
    background: #424242;
}

.communication .chat_info {
    float: left;
    width: 486px;
    position: relative;
}

.communication .chat_info .info_window .load_cont {
    line-height: 466px;
    font-size: 12px;
    text-align: center;
}

.communication .chat_info .info_window {
    height: 466px;
}

.communication .chat_info .info_window .info_window_child {
    display: none;
}

.communication .chat_info .close_bt {
    display: block;
    height: 5px;
    width: 18px;
    position: absolute;
    background: #ccc;
    right: 10px;
    top: 12px;
    z-index: 1;
}

.communication .chat_info .chat_title {
    padding: 0 12px;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    background: #e2e7e8;
}

.communication .chat_info .send_chat {
    height: 46px;
    background: #7c7bad;
    padding: 8px 18px;
}

.communication .chat_info .send_chat .o_composer {
    float: left;
    height: 30px;
}

.communication .chat_info .send_chat .o_composer_input {
   width: 395px;
}

.communication .chat_info .send_chat .o_composer_input .o_content_text {
    resize: none;
    width: 100%;
    height: 100%;
    border: none;
    padding: 5px;
}

.communication .chat_info .send_chat .o_composer_buttons .o_composer_button_send {
    margin-left: 5px;
    border: none;
    width: 50px;
    background: #7c7bad;
    text-align: center;
    color: #fff;
    border: 1px solid #515081;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    cursor: pointer;
}
.communication .chat_info .send_chat .o_composer_buttons .o_composer_button_send:hover {
    background: #515081;
}

.communication .chat_info .chat_content {
    height: 382px;
    overflow: auto;
    background: #fff;
}

.communication .chat_info .chat_content .history_query {
    text-align: center;
}

.communication .chat_info .chat_content .history_query .history_load {
    display: none;
    font-size: 12px;
    padding: 5px 0 15px;
}
.communication .chat_info .chat_content .history_query .history_bt {
    display: inline-block;
    font-size: 12px;
    padding: 5px 0 15px;
}

.communication .chat_info .chat_content .current_info_fgx {
    text-align: center;
    font-size: 12px;
    color: #b29d9d;
    margin: 20px 0;
    display: none;
}

.communication .chat_info .chat_content .chat_model {
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: 4px 16px;
    margin-bottom: 0px;
}

.communication .chat_info .chat_content .chat_model .oe_chat_icon {
    -ms-flex: 0 0 36px;
    -moz-flex: 0 0 36px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 36px;
    flex: 0 0 36px;
    margin-right: 10px;
    margin-top: 2px;
    text-align: center;
    font-size: smaller;
}

.communication .chat_info .chat_content .chat_model .oe_chat_info {
    -ms-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0;
    max-width: 100%;
    word-wrap: break-word;
}


.communication .chat_info .chat_content .chat_model .user_icon {
    width: 50px;
    vertical-align: top;
}

.communication .chat_info .chat_content .chat_model .user_info {
    margin-bottom: 5px;
    color: #7c7bad;
}

.communication .chat_info .chat_content .chat_model .oe_user_name {
    font-weight: bold;
}