/*浮窗样式*/

.popupBox {
    width: 802px;
    /*height: 392px;*/
    letter-spacing: 2px;
    border: 1px solid #ccc;
}

.popupBox .boxTitle {
    height: 50px;
    /*overflow: hidden;*/
}

.popupBox .boxTitle .closeBox {
    height: 12px;
    background: #535252;
    position: relative;
}

.popupBox .boxTitle .closeBox .close_bt {
    position: absolute;
    right: 5px;
    top: 3px;
    width: 16px;
    background: #fff;
    height: 4px;
    vertical-align: middle;
}

.popupBox .boxTitle .titleInfo {
    height: 38px;
    padding: 0 10px;
    background: #7c7bad;
    color: #fff;
}

.popupBox .boxTitle .infoL {
    width: 456px;
    float: left;
}

.popupBox .boxTitle .infoR {
    width: 344px;
    float: left;
    position: relative;
}

.popupBox .boxTitle .infoL .licenseNumber {
    margin-right: 10px;
}

.popupBox .boxTitle .titleInfo .fmax {
    font-weight: bold;
    font-size: 24px;
}

.popupBox .boxTitle .infoR .operation .scene {
    display: block;
    float: left;
    width: 56px;
    height: 22px;
    line-height: 22px;
    border-right: 1px solid #ccc;
    background: #fff;
    color: #333;
    text-align: center;
    margin-top: 8px;
}

.popupBox .boxTitle .infoR .operation .scene .operationNav {
    width: 100px;
    display: none;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 1;
    position: relative;
}

.popupBox .boxTitle .infoR .operation .scene .operationNav li {
    width: 100%;
    text-align: center;
    height: 24px;
    border-bottom: 1px solid #ccc;
    color: #333;
}

.popupBox .boxTitle .infoR .more {
    width: 76px;
    height: 28px;
    line-height: 28px;
    position: absolute;
    bottom: 0;
    right: 15px;
    background: #918fba;
    text-align: center;
    color: #fff;
}

.popupBox .boxTitle .infoR .more .morebox {
    display: none;
    background: #fff;
    position: relative;
    z-index: 1;
}

.popupBox .boxTitle .infoR .more .sceneMore {
    display: block;
    padding: 0 10px;
}

.popupBox .boxTitle .infoR .more:hover .morebox {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.popupBox .boxTitle .infoR .more:hover .sceneMore {
    color: #918fba;
    background: #fff;
    border-bottom: 1px solid #ccc;
}

.popupBox .popupContent {
    color: #333;
    font-size: 14px;
}

.popupBox .popupContent .vehicleInformation {
    width: 456px;
    padding: 10px;
    float: left;
}

.popupBox .popupContent .carReport {
    width: 334px;
    padding-right: 10px;
    float: left;
}

.popupBox .popupContent .vehicleInformation .fmax {
    font-size: 28px;
}

.popupBox .popupContent .vehicleInformation .danger {
    color: red;
}

.popupBox .popupContent .vehicleInformation .dangerTime {
    color: #990000;
    font-weight: bold;
    font-size: 24px;
}

.popupBox .popupContent .vehicleInformation table {
    width: 100%;
}

.popupBox .popupContent .vehicleInformation table td {
    border-bottom: 1px solid #ccc;
    text-align: left;
    padding-right: 5px;
    height: 62px;
}

.popupBox .lineInfo {
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    text-align: right;
    clear: both;
}

.popupBox .lineInfo .lineRoad {
    font-weight: bold;
}


/*---------------*/

.carInfoScene {
    width: 344px;
    height: 330px;
}


/*----------*/

.policeTemplate {
    padding: 10px;
}

.policeTemplate .title {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.policeTemplate .cont {
    text-indent: 29px;
}

.policeTemplate .onBt {
    display: block;
    width: 100px;
    margin: 10px auto 0;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ccc;
    text-align: center;
}

.policeTemplate .tel li {
    width: 33.33%;
    text-align: center;
    float: left;
}

.carPassenge .carPassenger {
	float: left;
	border: 1px solid #aaa;
    width: 334px;
    height: 
}

.carPassenge .carPassenger .top {
    padding: 0 10px;
	border-bottom: 1px solid #ccc;
	font-size: 13px;
}

.carPassenge .carPassenger .topt {
    display: inline-block;
    height: 50px;
    line-height: 50px;
}
.carPassenge .carPassenger .topt .zm {
	font-size: 18px;
	font-weight: bold;
}

.carPassenge .carPassenger .top a.bt {
	float: right;
    display: inline-block;
    height: 50px;
    line-height: 50px;
}

.mapB .mapInfoTxt {
    /*height: 70px;*/
    width: 332px;
}
.mapB .mapInfoTxt .num {
    font-size: 26px;
    font-weight: bold;
    margin: 0 5px;
    border-bottom: 1px solid #aaa;
}
.mapB .mapInfoTxt .red {
    color: red;
}
.mapB .mapInfoTxt .blue {
    color: blue
}
.mapB .mapInfoTxt .gray {
    color: gray;
}
.mapB .mapInfoTxt li {
    width: 33.33%;
    text-align: center;
    float: left;
    line-height: 70px;
}