.gps_modal {
    width: 950px;
    height: 600px;
    border: 2px solid #1ABC9B;
    display: block;
    background: #fff;
    z-index: 100;
}

.gps_modal .gps_close{
    background: #1ABC9B;
    height: 30px;
}
.map_container{
    width:946px;
    height:596px;
}
.gps_modal .operate_content{
    position: absolute;
    right: 20px;
    top:40px;
    background: #fff;
    width:360px;
    height:440px;
    z-index:1000;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
.gps_modal .op_content_tt{
    overflow: hidden;
    height:60px;
}
.gps_modal .op_content_tt li{
    float: left;
    width:33%;
    line-height: 60px;
    text-align: center;
    font-size: 14px;
}
.gps_modal table{
    margin:0 auto;
    width:300px;
    font-size:14px;
    text-align:center;
}
.gps_modal table th,.gps_modal table td{
    text-align: center;
    line-height: 30px;
}
.gps_modal .ipc{
    margin: -2px 0 0;
    vertical-align: middle;
}


