.start_over_stop_time{
    display: none;
}

.time_start_arrive_stop  .time_left{
    padding-left: 5px;
}
.plan_operate_config{
    overflow: hidden;
    margin:10px 0;
    color: #000;
}
.plan_operate_config li{
    width:200px;
    float: left;
}
.plan_operate_config .poc_intro{
    border-right: 1px solid #ccc;
}
.mgt10{
    margin-top: 10px;
}