/*----------线路地图制作-----------*/

.line_map_production {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    color: #000;
}

.line_map_production .title {
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    padding: 0 22px;
    border-bottom: 1px solid #ccc;
}

.line_map_production .mapPage {
    position: relative;
    width: 100%;
    height: 100%;
}

.line_map_production .mapPage .cont {
    text-align: center;
    white-space:nowrap;
    font-size: 14px;
}


.line_map_production .mapPage .ancillary {
    position: absolute;
    left: 6px;
    top: 22px;
    font-size: 10px;
}

.line_map_production .mapPage .map_coord {
    position: absolute;
    right: 8px;
    top: 0;
    z-index: 1;
    width: 200px;
    text-align: center;
    padding: 0 5px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: initial;
}

.line_map_production .mapPage .map_zoom {
    display: inline-block;
    font-size: 16px;
    width: 22px;
}

.line_map_production .mapPage .lnglat {
    display: inline-block;
    font-size: 12px;
    width: 145px;
}

.line_map_production .mapPage .mapCustomPanel {
    width: 200px;
    position: absolute;
    z-index: 1;
    right: 8px;
    top: 60px;
}

.line_map_production .mapCustomPanel .mapSetLineDiv {
    font-size: 14px;
    background-color: #FFFFFF;
    width: 200px;
    filter: alpha(opacity=70);
    opacity: 0.8;
    border: 1px solid #669900;
    margin-top: 5px;
    cursor: default;
}

.line_map_production .mapCustomPanel .mapSetLineDiv .vt {
    vertical-align: top;
}

.line_map_production .mapCustomPanel .mapSetLineDiv span.line {
    padding: 5px 10px; 
}

.line_map_production .mapCustomPanel .mapSetLinePropTitle {
    background-color: #FFFFFF;
    border-bottom: 1px solid #669900;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}

.line_map_production .mapCustomPanel .mapSetLineContext {
    padding: 5px 10px;
}

.line_map_production .mapCustomPanel .mapSetLineContext .btBox {
    font-size: 0;
    display: inline-block;
    margin: 5px 0 30px;
}

.line_map_production .mapCustomPanel .mapSetLineContext .btBox input.active_bt {
    background: #669900;
    color: #fff;
}

.line_map_production .mapCustomPanel .mapSetLineContext input, .line_map_production .mapCustomPanel select {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font-size: 14px;
    margin-top: 4px;
}

.line_map_production .mapCustomPanel .mapSetLineContext input[type='button'] {
    border: 0;
    margin: 0;
}

.line_map_production .mapCustomPanel .mapSetLineContext input[type='button']:hover {
    background: #669900;
    color: #fff;
}

.line_map_production .mapCustomPanel .mapSetLineContext input[type=text] {
    width: 88px;
    text-align: center;
    font-size: 13px;
    height: 18px;
}

.line_map_production .mapCustomPanel select {
    width: auto;
    height: 22px;
    padding: 0 3px;
}

.line_map_production .mapCustomPanel select.line {
    width: 110px;
    padding-right: 10px;
    overflow: hidden;
}

.line_map_production .mapCustomPanel .dataSave {
    height: 90px;
    line-height: 30px;
    text-align: center;
}

.line_map_production .mapCustomPanel .dataSave input {
    width: 75px;
    text-align: center;
}

.line_map_production .mapCustomPanel .mapSetLineContext .setMapBt input {
    width: 40px;
    height: 22px;
    line-height: 22px;
    text-align: center;
}

.line_map_production .mapCustomPanel .mapSetLineContext .btBox .mr_1 {
    margin-right: 6px;
}

.line_map_production .mapCustomPanel .mapSetLineContext .btBox .mr_2 {
    margin-right: 12px;
}



/*map_work_trace*/
.map_work_trace {
    height: 100%;
    width: 100%;
}

.map_work_trace .mR20 {
    margin-right: 20px;
}

.map_work_trace .map_work_title {
    border-bottom: 1px solid #ccc;
    height: 93px;
}

.map_work_trace .map_work_title .title {
    padding: 10px 40px;
}

.map_work_trace .map_work_title .screen_cont {
    padding: 10px 40px;
    line-height: 30px;
    min-width: 1210px;
}
.map_work_trace .map_work_title input {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 130px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}
.map_work_trace .map_work_title select {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 176px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-position: right 10px center;
}
.map_work_trace .map_work_title .timeW {
    width: 160px;
}
.map_work_trace .map_work_title .bt {
    display: inline-block;
    border: 1px solid #1abc9c;
    border-radius: 4px;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
}

.map_work_trace .map_work_title .bt_v1 {
    background: #1abc9c;
    color: #fff;
}

.map_work_trace .map_work_content {
    position: absolute;
    top: 93px;
    bottom: 0px;
    left: 0;
    width: 100%;
    min-width: 1210px;
    border-bottom: 1px solid #ccc;
}

.map_work_trace .map_work_content .markerPoint {
    background:#1aba9b;
    position:absolute;
    left:-3px;
    top:0;
    z-index:1;
    width:5px;
    height:5px;
    border-radius: 5px;
}

.track_playback_map .video_progress {
    padding: 5px 0;
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1400px;
    margin-left: -700px;
    display: none;
}

.track_playback_map .video_progress .progress_box {
    height: 45px;
    padding: 0 20px;
}

.track_playback_map .video_progress .progress_box li {
    display: block;
    line-height: 45px;
    height: 45px;
    float: left;
}

.track_playback_map .video_progress .progress_box .partIcon {
    cursor: pointer;
    width: 38px;
    height: 45px;
    background: url('/lty_operation_map_base/static/src/image/playIcon.png') no-repeat 0 center;
}

.track_playback_map .video_progress .progress_box .start_bt {
    background-position: -38px;
}

.track_playback_map .video_progress .progress_box .partTime {
    width: 70px;
    text-align: center;
}

.track_playback_map .video_progress .progress_box .partProgress {
    width: 1180px;
    padding: 0 15px;
}

.track_playback_map .video_progress .progress_box .progress_bar {
    border-radius: 5px;
    height: 10px;
    width: 1150px;
    background: #cacaca;
    position: relative;
    margin-top: 17px;
}

.track_playback_map .video_progress .progress_box .progress_bar .progress_cn {
    position: absolute;
    border-radius: 5px;
    left: 0;
    top: 0;
    width: 0;
    height: 10px;
    background: #1aba9b;
    z-index: 1;
}


.track_playback_map .video_progress .progress_box .progress_bar .progress_icon {
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    left: -15px;
    top: 50%;
    margin-top: -15px;
    z-index: 1;
    background: url('/lty_operation_map_base/static/src/image/playpr.png') no-repeat center;
}


.track_playback_map .video_progress .progress_data {
    height: 145px;
    margin: 0 40px;
    overflow: auto;
    clear: both;
}

.track_playback_map .video_progress .progress_data table {
    width: 100%;
    min-width: 1100px;
    border: 1px solid #ccc;
}

.track_playback_map .video_progress .progress_data table td,.track_playback_map .video_progress .progress_data table th {
    height: 40px;
    border-bottom: 1px solid #ccc;
}

.track_playback_map .video_progress .progress_data table td:first-child,.track_playback_map .video_progress .progress_data table th:first-child{
    padding-left: 10px;
}

/*隐藏高德地图icon*/
.amap-logo {
    right: 0 !important;
    left: auto !important;
    display: none;
}

.amap-copyright {
    right: 70px !important;
    left: auto !important;
    display: none !important;
}



/*bus_real_info */

.bus_real_info_electronicMap {
    background: #fff;
}

.bus_real_info_electronicMap .closeBox {
    background: #fff;
}

.bus_real_info_electronicMap .closeBox .close_bt {
    background: #3a4263;
}

.bus_real_info_electronicMap .popupContent .popupC {
    color: #000;
}

.bus_real_info_electronicMap .infoR .scene .sceneTitle {
    background: #fff;
}

.bus_real_info_electronicMap .infoR .scene .operationNav {
    background: #fff;
}

.bus_real_info_electronicMap .infoR .scene .operationNav li a {
    color: #000;
}

.bus_real_info_electronicMap .infoR .scene .operationNav li a:hover {
    background: #ccc;
    color: #4ecfc7;
}


.styleModel_electronicMap .modal-dialog .modal-content{
    background: #fff;
    color: #000;
}

.styleModel_electronicMap .modal-dialog .modal-content .modal-header .close {
    color: #ccc !important;
}

.styleModel_electronicMap .modal-dialog .modal-content input {
    background: #fff;
    color: #21b799;
}

.styleModel_electronicMap .modal-dialog .modal-content select {
    background: #fff;
    color: #21b799;
}

.styleModel_electronicMap .msg_send_info option {
    background: #fff;
    color: #21b799;
}