/*----------线路地图制作-----------*/

.line_map_production {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    color: #000;
}

.line_map_production .title {
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    padding: 0 22px;
    border-bottom: 1px solid #ccc;
}

.line_map_production .mapPage {
    position: relative;
    width: 100%;
    height: 100%;
}

.line_map_production .mapPage .cont {
    text-align: center;
    white-space:nowrap;
    font-size: 14px;
}


.line_map_production .mapPage .ancillary {
    position: absolute;
    left: 6px;
    top: 22px;
    font-size: 10px;
}

.line_map_production .mapPage .map_coord {
    position: absolute;
    right: 8px;
    top: 0;
    z-index: 1;
    width: 200px;
    text-align: center;
    padding: 0 5px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: initial;
}

.line_map_production .mapPage .map_zoom {
    display: inline-block;
    font-size: 16px;
    width: 22px;
}

.line_map_production .mapPage .lnglat {
    display: inline-block;
    font-size: 12px;
    width: 145px;
}

.line_map_production .mapPage .mapCustomPanel {
    width: 200px;
    position: absolute;
    z-index: 1;
    right: 8px;
    top: 60px;
}

.line_map_production .mapCustomPanel .mapSetLineDiv {
    font-size: 14px;
    background-color: #FFFFFF;
    width: 200px;
    filter: alpha(opacity=70);
    opacity: 0.8;
    border: 1px solid #669900;
    margin-top: 5px;
    cursor: default;
}

.line_map_production .mapCustomPanel .mapSetLineDiv .vt {
    vertical-align: top;
}

.line_map_production .mapCustomPanel .mapSetLineDiv span.line {
    padding: 5px 10px; 
}

.line_map_production .mapCustomPanel .mapSetLinePropTitle {
    background-color: #FFFFFF;
    border-bottom: 1px solid #669900;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}

.line_map_production .mapCustomPanel .mapSetLineContext {
    padding: 5px 10px;
}

.line_map_production .mapCustomPanel .mapSetLineContext .btBox {
    font-size: 0;
    display: inline-block;
    margin: 5px 0 30px;
}

.line_map_production .mapCustomPanel .mapSetLineContext .btBox input.active_bt {
    background: #669900;
    color: #fff;
}

.line_map_production .mapCustomPanel .mapSetLineContext input, .line_map_production .mapCustomPanel select {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font-size: 14px;
    margin-top: 4px;
}

.line_map_production .mapCustomPanel .mapSetLineContext input[type='button'] {
    border: 0;
    margin: 0;
}

.line_map_production .mapCustomPanel .mapSetLineContext input[type='button']:hover {
    background: #669900;
    color: #fff;
}

.line_map_production .mapCustomPanel .mapSetLineContext input[type=text] {
    width: 88px;
    text-align: center;
    font-size: 13px;
    height: 18px;
}

.line_map_production .mapCustomPanel select {
    width: auto;
    height: 22px;
    padding: 0 3px;
}

.line_map_production .mapCustomPanel select.line {
    width: 110px;
    padding-right: 10px;
    overflow: hidden;
}

.line_map_production .mapCustomPanel .dataSave {
    height: 90px;
    line-height: 30px;
    text-align: center;
}

.line_map_production .mapCustomPanel .dataSave input {
    width: 75px;
    text-align: center;
}

.line_map_production .mapCustomPanel .mapSetLineContext .setMapBt input {
    width: 40px;
    height: 22px;
    line-height: 22px;
    text-align: center;
}

.line_map_production .mapCustomPanel .mapSetLineContext .btBox .mr_1 {
    margin-right: 6px;
}

.line_map_production .mapCustomPanel .mapSetLineContext .btBox .mr_2 {
    margin-right: 12px;
}



/*map_work_trace*/
.map_work_trace {
    height: 100%;
    width: 100%;
}

.map_work_trace .mR20 {
    margin-right: 20px;
}

.map_work_trace .map_work_title {
    border-bottom: 1px solid #ccc;
    height: 93px;
}

.map_work_trace .map_work_title .title {
    padding: 10px 40px;
}

.map_work_trace .map_work_title .screen_cont {
    padding: 10px 40px;
    line-height: 30px;
    min-width: 1210px;
}
.map_work_trace .map_work_title input {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 130px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}
.map_work_trace .map_work_title select {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 176px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-position: right 10px center;
}
.map_work_trace .map_work_title .timeW {
    width: 160px;
}
.map_work_trace .map_work_title .bt {
    display: inline-block;
    border: 1px solid #1abc9c;
    border-radius: 4px;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
}

.map_work_trace .map_work_title .bt_v1 {
    background: #1abc9c;
    color: #fff;
}

.map_work_trace .map_work_content {
    position: absolute;
    top: 93px;
    bottom: 0px;
    left: 0;
    width: 100%;
    min-width: 1210px;
    border-bottom: 1px solid #ccc;
}

.map_work_trace .map_work_content .markerPoint {
    background:#1aba9b;
    position:absolute;
    left:-3px;
    top:0;
    z-index:1;
    width:5px;
    height:5px;
    border-radius: 5px;
}

.track_playback_map .video_progress {
    padding: 5px 0;
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1400px;
    margin-left: -700px;
    display: none;
}

.track_playback_map .video_progress .progress_box {
    height: 45px;
    padding: 0 20px;
}

.track_playback_map .video_progress .progress_box li {
    display: block;
    line-height: 45px;
    height: 45px;
    float: left;
}

.track_playback_map .video_progress .progress_box .partIcon {
    cursor: pointer;
    width: 38px;
    height: 45px;
    background: url('/lty_operation_map_base/static/src/image/playIcon.png') no-repeat 0 center;
}

.track_playback_map .video_progress .progress_box .start_bt {
    background-position: -38px;
}

.track_playback_map .video_progress .progress_box .partTime {
    width: 70px;
    text-align: center;
}

.track_playback_map .video_progress .progress_box .partProgress {
    width: 1180px;
    padding: 0 15px;
}

.track_playback_map .video_progress .progress_box .progress_bar {
    border-radius: 5px;
    height: 10px;
    width: 1150px;
    background: #cacaca;
    position: relative;
    margin-top: 17px;
}

.track_playback_map .video_progress .progress_box .progress_bar .progress_cn {
    position: absolute;
    border-radius: 5px;
    left: 0;
    top: 0;
    width: 0;
    height: 10px;
    background: #1aba9b;
    z-index: 1;
}


.track_playback_map .video_progress .progress_box .progress_bar .progress_icon {
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    left: -15px;
    top: 50%;
    margin-top: -15px;
    z-index: 1;
    background: url('/lty_operation_map_base/static/src/image/playpr.png') no-repeat center;
}


.track_playback_map .video_progress .progress_data {
    height: 145px;
    margin: 0 40px;
    overflow: auto;
    clear: both;
}

.track_playback_map .video_progress .progress_data table {
    width: 100%;
    min-width: 1100px;
    border: 1px solid #ccc;
}

.track_playback_map .video_progress .progress_data table td,.track_playback_map .video_progress .progress_data table th {
    height: 40px;
    border-bottom: 1px solid #ccc;
}

.track_playback_map .video_progress .progress_data table td:first-child,.track_playback_map .video_progress .progress_data table th:first-child{
    padding-left: 10px;
}

/*隐藏高德地图icon*/
.amap-logo {
    right: 0 !important;
    left: auto !important;
    display: none;
}

.amap-copyright {
    right: 70px !important;
    left: auto !important;
    display: none !important;
}



/*bus_real_info */
/*.bus_real_info {
    width: 864px;
    letter-spacing: 1px;
    background: #3a4263;
    border-radius: 8px;
    box-shadow: 0 0 50px #1e2335;
}

.bus_real_info .carReport .socket_load {
    width: 344px;
    height: 330px;
    line-height: 330px;
    text-align: center;
}

.bus_real_info .closeBox,
.passenger_flow_trend_chart .closeBox,
.plan_display .closeBox {
    height: 20px;
    background: #3a4263;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.plan_display .closeBox {
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #272d46;
}

.plan_display .closeBox .num {
    font-weight: normal;
    margin-left: 20px;
}

.bus_real_info .closeBox .close_bt,
.passenger_flow_trend_chart .closeBox .close_bt,
.plan_display .closeBox .close_bt {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 15px;
    background: #fff;
    height: 3px;
    vertical-align: middle;
}

.plan_display .closeBox .close_bt {
    top: 18px;
}

.bus_real_info .titleInfo dl dt {
    height: 38px;
    line-height: 38px;
    float: left;
}

.bus_real_info .titleInfo dl dd {
    height: 19px;
    line-height: 19px;
}

.bus_real_info .titleInfo .mR5 {
    margin-right: 5px;
}

.bus_real_info .titleInfo .mR10 {
    margin-right: 10px;
}

.bus_real_info .info {
    height: 38px;
    line-height: 38px;
    margin-bottom: 20px;
}

.bus_real_info .infoR {
    width: 100%;
    z-index: 2;
    position: relative;
}

.bus_real_info .titleInfo .fmax {
    font-weight: bold;
    font-size: 16px;
}

.bus_real_info .infoR .scene {
    display: block;
    float: left;
    width: 50px;
    height: 22px;
    line-height: 22px;
    color: #4ecfc7;
    text-align: center;
    margin-top: 8px;
}

.bus_real_info .infoR .scene .sceneTitle {
    background: #3a4263;
    border: 1px solid #4ecfc7;
    color: #4ecfc7;
    padding: 3px 6px;
}

.bus_real_info .infoR .scene .operationNav {
    background: #464f76;
    z-index: 1;
    position: relative;
    padding: 0 8px;
    min-width: 100px;
    margin: -16px 0;
}

.bus_real_info .infoR .scene .operationNav li a:hover {
    background: #3a4263;
    color: #4ecfc7;
}

.bus_real_info .infoR .scene .operationNav li a {
    text-align: center;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #ccc;
    color: #fff;
    width: 100%;
    padding: 0;
}

.bus_real_info .infoR .scene .operationNav li:last-child a {
    border: 0;
}

.bus_real_info .infoR .scene2 {
    border: 1px solid #4ecfc7;
    border-radius: 4px;
    text-align: center;
    width: 50px;
    height: 26px;
    line-height: 26px;
    border-left: 0;
}

.bus_real_info .infoR .more {
    width: 76px;
    height: 28px;
    line-height: 28px;
    position: absolute;
    top: -4px;
    right: 0;
    text-align: center;
}

.bus_real_info .infoR .more .morebox {
    display: none;
    background: #fff;
    position: relative;
    z-index: 1;
}

.bus_real_info .infoR .more .sceneMore {
    display: block;
    width: 100%;
    height: 100%;
}

.bus_real_info .infoR .more:hover .morebox {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.bus_real_info .infoR .more:hover .sceneMore {
    color: #918fba;
    background: #fff;
    border-bottom: 1px solid #ccc;
}

.bus_real_info .popupContent {
    font-size: 13px;
}

.bus_real_info .popupContent .popupC {
    width: 432px;
    float: left;
    color: #fff;
    padding: 0 30px 20px 30px;
    border-right: 1px solid #fff;
}

.bus_real_info .popupContent .carReport_info {
    border: none;
}

.bus_real_info .popupContent .vehicleInformation .num {
    padding: 0 7px;
}


.bus_real_info .popupContent .vehicleInformation .fmax {
    font-size: 20px;
}

.bus_real_info .popupContent .vehicleInformation .danger {
    /*color: red;*/
}

.bus_real_info .popupContent .vehicleInformation .dangerTime {
    /*color: #990000;*/
    /*font-weight: bold;*/
}

.bus_real_info .popupContent .vehicleInformation table {
    width: 100%;
}

.bus_real_info .popupContent .vehicleInformation table td {
    border-bottom: 1px solid #ccc;
    text-align: left;
    padding-right: 5px;
    height: 62px;
}

.bus_real_info .lineInfo {
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    text-align: right;
    clear: both;
    color: #fff;
}

.bus_real_info .lineInfo .lineRoad {
    font-weight: bold;
    font-size: 18px;
}

.bus_real_info .carInfoScene {
    width: 372px;
    height: 330px;
}

.bus_real_info .more_info_box {
    overflow: auto;
}

.bus_real_info .arrival_time_more_info {
    overflow: auto;
}

.bus_real_info .arrival_time_police {
    padding: 10px;
}

.bus_real_info .arrival_time_police .title {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin-top: 100px;
}

.bus_real_info .arrival_time_police .cont {
    text-indent: 29px;
}

.bus_real_info .arrival_time_police .onBt {
    display: block;
    width: 130px;
    margin: 20px auto;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ccc;
    text-align: center;
    color: #ccc;
}

.bus_real_info .arrival_time_police .tel li {
    width: 33.33%;
    text-align: center;
    float: left;
}

.bus_real_info .carPassenge .carPassenger {
    float: left;
    border: 1px solid #aaa;
    width: 334px;
}

.bus_real_info .carPassenge .carPassenger .top {
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
    font-size: 13px;
}

.bus_real_info .carPassenge .carPassenger .topt {
    display: inline-block;
    height: 50px;
    line-height: 50px;
}

.bus_real_info .carPassenge .carPassenger .topt .zm {
    font-size: 18px;
    font-weight: bold;
}

.bus_real_info .carPassenge .carPassenger .top a.bt {
    float: right;
    display: inline-block;
    height: 50px;
    line-height: 50px;
}

.bus_real_info .mapB .mapInfoTxt {
    /*height: 70px;*/
    width: 332px;
}

.bus_real_info .mapB .mapInfoTxt .num {
    font-size: 26px;
    font-weight: bold;
    margin: 0 5px;
    border-bottom: 1px solid #aaa;
}

.bus_real_info .mapB .mapInfoTxt .red {
    color: red;
}

.bus_real_info .mapB .mapInfoTxt .blue {
    color: blue
}

.bus_real_info .mapB .mapInfoTxt .gray {
    color: gray;
}

.bus_real_info .mapB .mapInfoTxt li {
    width: 33.33%;
    text-align: center;
    float: left;
    line-height: 70px;
}


.bus_real_info .more_info_box .info_title {
    height: 30px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.bus_real_info .more_info_box .info_title .title {
    display: inline-block;
    position: absolute;
    left: 22px;
    bottom: -1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 2px 5px;
    z-index: 1;
    background: #464f76;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 12px;
}

.bus_real_info .maintenance_status {
    height: 24px;
    background: #464f76;
}

.bus_real_info .info_status_nav {
    display: inline-block;
    padding: 0 18px 0 0;
    float: right;
    margin-right: 4px;
}

.bus_real_info .info_status_nav li {
    display: inline-block;
    list-style-type: none;
    margin: 0 -22px 0 0;
    padding: 0;
    height: 24px;
    background-color: #464f76;
}

.bus_real_info .info_status_nav li .label {
    color: #fff;
    padding: 0;
    display: inline-block;
    padding-left: 18px;
    margin: 0;
    position: relative;
    line-height: 24px;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0;
}

.bus_real_info .info_status_nav .arrow,
.bus_real_info .info_status_nav .arrow_first {
    width: 17px;
    height: 24px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    margin-left: -5px;
}

.bus_real_info .info_status_nav .arrow_first {
    margin-left: -1px;
}

.bus_real_info .info_status_nav li:first-child .label {
    padding-left: 1px;
}

.bus_real_info .info_status_nav .arrow span,
.bus_real_info .info_status_nav .arrow_first span {
    position: relative;
    width: 19px;
    height: 19px;
    display: inline-block;
    margin-left: -9px;
    margin-top: 3px;
    border-radius: 3px;
    box-shadow: -1px 1px 2px rgba(255, 255, 255, 0.2), inset -1px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #464f76;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.bus_real_info .info_status_nav li.oe_active {
    background-color: #807fa9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#abaaca), to(#555487));
    /* background-image: -webkit-linear-gradient(top, #abaaca, #555487); */
    background-image: -moz-linear-gradient(top, #abaaca, #555487);
    background-image: -ms-linear-gradient(top, #abaaca, #555487);
    background-image: -o-linear-gradient(top, #abaaca, #555487);
    /* background-image: linear-gradient(to bottom, #abaaca, #555487); */
}

.bus_real_info .info_status_nav li.oe_active .label {
    color: white;
    text-shadow: 0 1px 1px #729fcf, 0 -1px 1px #3465a4;
}

.bus_real_info .info_status_nav li.oe_active .arrow span {
    background-color: #555487;
    background: -moz-linear-gradient(135deg, #555487, #abaaca);
    background: -o-linear-gradient(135deg, #abaaca, #555487);
    background: -webkit-gradient(linear, left top, right bottom, from(#abaaca), to(#555487));
}

.bus_real_info .info_1 .info_cont {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.bus_real_info .more_info_part .info_cont table {
    width: 100%;
    font-size: 13px;
}

.bus_real_info .more_info_part .maintenance_cont td {
    line-height: 24px;
    padding: 0 5px;
}

.bus_real_info .more_info_part .maintenance_cont td:nth-child(odd) {
    border-right: 1px solid #ccc;
}

.bus_real_info .more_info_part .info_bt {
    text-align: center;
    padding: 10px;
}

.bus_real_info .more_info_part .info_bt a {
    display: inline-block;
    width: 126px;
    height: 20px;
    line-height: 20px;
    font-style: 13px;
    background: #7c7bad;
    color: #fff;
}

.bus_real_info .more_info_part .info_bt a:first-child {
    margin-right: 30px;
}

.bus_real_info .info_2 .info_cont {
    padding: 5px 5px 5px 15px;
}

.bus_real_info .more_info_part .record_cont th,
.bus_real_info .more_info_part .record_cont td {
    line-height: 24px;
    width: 25%;
    height: 24px;
}

.bus_real_info .more_info_part .record_cont tr {
    border: 1px solid #6D7487;
}*/
